.product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  padding: 20px;
  background-color: blanchedalmond;
  border: 1px solid rgb(86, 8, 8);
  border-radius: 6px;
  color: rgb(86, 8, 8);
  font-size: 24px;
}
